<footer>
    <div class="container text-center">
        <div class="detail-box" >           
         <a href="#">contact</a>
        <a href="#">support</a>
        <a href="#">social</a>
        </div>
        <a class="copy-right" href="">&copy;2022 shoppingCart.com pvt. ltd</a>
    </div>
</footer>
    
</body>
</html>